body {
    margin: 0;
    box-sizing: border-box;
    font-family: karla;
}

.container {
    max-width: 550px; 
    height: 450px;
    background-color: #1F2937;
    margin: 20px auto;
}

.p-cont {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.pw1, .pw2 {
    display: flex;
    align-items: center;
    margin-right: 15px;
    background-color: #273549;
    width: 211px;
    height: 39px;
    border-radius: 4px;
    justify-content: center;
    color: #55F991;
}

label {
    color: white;
    font-size: 10px;  
}

input {
    width: 60px;
}

button {
    width: 191px;
    height: 42px;
    background-color: #10B981;
    color: white;
    border-radius: 6px;
    border: none; 
    margin-top: 30px;
}

.divider { 
    width: 446px;
    margin-top: 35px;
    border-color: #2F3E53;
}

.green {
    color: #4ADF86;
    font-weight: bolder;
}

h1 {
    color: white;
    font-weight: bolder;
    margin-bottom: -10px;
}

.green, h1 {
    letter-spacing: -1px;
}

p {
    color: #D5D4D8;
}

.top-cont {
    margin-bottom: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    padding-top: 30px;
}
