* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body {
    background-color: beige;
    font-family:  monospace;
    font-size: 20px;
    color: rgb(40, 31, 22);
    padding: 50px;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

#subtitle {
    margin-bottom: 20px;


}

.first { 
    color: rgb(37, 37, 26);
    text-align: center;
}

p {
    margin-bottom: 20px;
}


#first-form {
    background-color: rgb(239, 152, 21);
    border: 5px solid #fdfcf8;
    margin-top: 10px;
    width: 400px;
    padding: 20px;
    
}

h2 {
    margin-bottom: 20px;
    text-align: left;
}

input, button {
padding: 10px;
font-size: 16px;
}

#waiting {
    width: 400px;
    padding-bottom: 20px;
}

ul {
    display: inline;
    padding-inline: 15px;
    background-color: bisque;
    color: rgb(226, 23, 23);
    border-style: dashed;
    font-weight: bold;
    
}


#navbar-space {

    padding-top: 30px;


}

#world {
    width: 20px;



}

a {
    color:inherit;
    
}

.p-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 600px; 
    justify-content: space-evenly;
    color: rgb(226, 23, 23);
 

}

.p1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 250px;
    border: 1px solid rgb(161, 113, 113);
    border-radius: 4px;
    margin-top: 20px;
    background-color: blanchedalmond;
    color: rgb(226, 23, 23);
    padding: 1rem;   
}

.noline {
    text-decoration: none;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.projectimg {
    height: 50%;
    margin-bottom: 10px;
    
}

.subtitle {
    font-size: 16px;
    color: black;
}
